@model Books_UnitTest.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Book</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ISBN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISBN)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
